@import 'tailwindcss';

@import '@skeletonlabs/skeleton'; 
@import '@skeletonlabs/skeleton-svelte'; 
@import '@skeletonlabs/skeleton/themes/modern';
@import './MiCarreraPerfectaTheme.css';

@custom-variant dark (&:where(.dark, .dark *));

:root {

  color-scheme: light dark;

}

@media (prefers-color-scheme: light) {

}
