[data-theme="MiCarreraPerfectaTheme"] {
  --text-scaling: 1.067;
  --base-font-color: oklch(0 0 0 / 1);
  --base-font-color-dark: oklch(1 0 0 / 1);
  --base-font-family: system-ui, sans-serif;
  --base-font-size: inherit;
  --base-line-height: inherit;
  --base-font-weight: normal;
  --base-font-style: normal;
  --base-letter-spacing: 0em;
  --heading-font-color: inherit;
  --heading-font-color-dark: inherit;
  --heading-font-family: inherit;
  --heading-font-weight: bold;
  --heading-font-style: normal;
  --heading-letter-spacing: inherit;
  --anchor-font-color: var(--color-primary-500);
  --anchor-font-color-dark: var(--color-primary-500);
  --anchor-font-family: inherit;
  --anchor-font-size: inherit;
  --anchor-line-height: inherit;
  --anchor-font-weight: inherit;
  --anchor-font-style: inherit;
  --anchor-letter-spacing: inherit;
  --anchor-text-decoration: none;
  --anchor-text-decoration-hover: underline;
  --anchor-text-decoration-active: none;
  --anchor-text-decoration-focus: none;
  --spacing: 0.25rem;
  --radius-base: 0.375rem;
  --radius-container: 0.75rem;
  --default-border-width: 1px;
  --default-divide-width: 1px;
  --default-ring-width: 1px;
  --body-background-color: var(--color-surface-500);
  --body-background-color-dark: var(--color-surface-950);
  --color-primary-50: oklch(89.44% 0.08 185deg);
  --color-primary-100: oklch(82.04% 0.08 184.9deg);
  --color-primary-200: oklch(74.33% 0.08 185.5deg);
  --color-primary-300: oklch(66.66% 0.08 185.18deg);
  --color-primary-400: oklch(58.65% 0.08 185.54deg);
  --color-primary-500: oklch(50.72% 0.08 184.73deg);
  --color-primary-600: oklch(44.31% 0.07 181.64deg);
  --color-primary-700: oklch(37.66% 0.06 177.31deg);
  --color-primary-800: oklch(30.69% 0.05 169.31deg);
  --color-primary-900: oklch(23.32% 0.05 159.66deg);
  --color-primary-950: oklch(15.03% 0.05 144.68deg);
  --color-primary-contrast-dark: oklch(0% 0 none);
  --color-primary-contrast-light: oklch(100% 0 none);
  --color-primary-contrast-50: var(--color-primary-contrast-dark);
  --color-primary-contrast-100: var(--color-primary-contrast-dark);
  --color-primary-contrast-200: var(--color-primary-contrast-dark);
  --color-primary-contrast-300: var(--color-primary-contrast-dark);
  --color-primary-contrast-400: var(--color-primary-contrast-dark);
  --color-primary-contrast-500: var(--color-primary-contrast-light);
  --color-primary-contrast-600: var(--color-primary-contrast-light);
  --color-primary-contrast-700: var(--color-primary-contrast-light);
  --color-primary-contrast-800: var(--color-primary-contrast-light);
  --color-primary-contrast-900: var(--color-primary-contrast-light);
  --color-primary-contrast-950: var(--color-primary-contrast-light);
  --color-secondary-50: oklch(100% 0 none);
  --color-secondary-100: oklch(99.16% 0 67.9deg);
  --color-secondary-200: oklch(98.5% 0 91.27deg);
  --color-secondary-300: oklch(97.73% 0.01 75.38deg);
  --color-secondary-400: oklch(97.08% 0.01 84.52deg);
  --color-secondary-500: oklch(96.23% 0.01 81.76deg);
  --color-secondary-600: oklch(88.88% 0.01 87.42deg);
  --color-secondary-700: oklch(81.24% 0.01 78.25deg);
  --color-secondary-800: oklch(73.52% 0.01 87.45deg);
  --color-secondary-900: oklch(65.5% 0.01 78.24deg);
  --color-secondary-950: oklch(57.35% 0.01 84.56deg);
  --color-secondary-contrast-dark: oklch(0% 0 none);
  --color-secondary-contrast-light: oklch(100% 0 none);
  --color-secondary-contrast-50: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-100: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-200: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-300: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-400: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-500: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-600: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-700: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-800: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-900: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-950: var(--color-secondary-contrast-dark);
  --color-tertiary-50: oklch(98.04% 0.11 108.26deg);
  --color-tertiary-100: oklch(94.04% 0.12 100.78deg);
  --color-tertiary-200: oklch(89.92% 0.13 93.57deg);
  --color-tertiary-300: oklch(86.1% 0.14 87.61deg);
  --color-tertiary-400: oklch(82.23% 0.15 80.98deg);
  --color-tertiary-500: oklch(78.71% 0.16 74.53deg);
  --color-tertiary-600: oklch(71.32% 0.15 72.12deg);
  --color-tertiary-700: oklch(63.94% 0.13 69.8deg);
  --color-tertiary-800: oklch(56.3% 0.12 65.54deg);
  --color-tertiary-900: oklch(48.48% 0.11 61.53deg);
  --color-tertiary-950: oklch(40.19% 0.1 55.78deg);
  --color-tertiary-contrast-dark: var(--color-tertiary-950);
  --color-tertiary-contrast-light: var(--color-tertiary-50);
  --color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-500: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-600: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
  --color-success-50: oklch(98.84% 0.06 107.44deg);
  --color-success-100: oklch(95.89% 0.1 123.91deg);
  --color-success-200: oklch(92.89% 0.13 131.33deg);
  --color-success-300: oklch(90.43% 0.17 135.31deg);
  --color-success-400: oklch(87.95% 0.2 137.72deg);
  --color-success-500: oklch(86.05% 0.23 139.22deg);
  --color-success-600: oklch(78.82% 0.22 140.07deg);
  --color-success-700: oklch(71.52% 0.21 140.79deg);
  --color-success-800: oklch(64.1% 0.2 141.64deg);
  --color-success-900: oklch(56.62% 0.18 142.19deg);
  --color-success-950: oklch(49.03% 0.17 142.5deg);
  --color-success-contrast-dark: var(--color-success-950);
  --color-success-contrast-light: var(--color-secondary-50);
  --color-success-contrast-50: var(--color-success-contrast-dark);
  --color-success-contrast-100: var(--color-success-contrast-dark);
  --color-success-contrast-200: var(--color-success-contrast-dark);
  --color-success-contrast-300: var(--color-success-contrast-dark);
  --color-success-contrast-400: var(--color-success-contrast-dark);
  --color-success-contrast-500: var(--color-success-contrast-dark);
  --color-success-contrast-600: var(--color-success-contrast-dark);
  --color-success-contrast-700: var(--color-success-contrast-dark);
  --color-success-contrast-800: var(--color-success-contrast-light);
  --color-success-contrast-900: var(--color-success-contrast-light);
  --color-success-contrast-950: var(--color-success-contrast-light);
  --color-warning-50: oklch(98.84% 0.06 107.44deg);
  --color-warning-100: oklch(96.74% 0.08 101.77deg);
  --color-warning-200: oklch(94.5% 0.1 97.63deg);
  --color-warning-300: oklch(92.46% 0.12 95.71deg);
  --color-warning-400: oklch(90.36% 0.14 93.1deg);
  --color-warning-500: oklch(88.54% 0.15 91.18deg);
  --color-warning-600: oklch(81.25% 0.14 91.73deg);
  --color-warning-700: oklch(73.71% 0.13 91.05deg);
  --color-warning-800: oklch(66.07% 0.12 91.54deg);
  --color-warning-900: oklch(58.11% 0.11 90.42deg);
  --color-warning-950: oklch(50% 0.1 90.47deg);
  --color-warning-contrast-dark: oklch(0% 0 none);
  --color-warning-contrast-light: oklch(100% 0 none);
  --color-warning-contrast-50: var(--color-warning-contrast-dark);
  --color-warning-contrast-100: var(--color-warning-contrast-dark);
  --color-warning-contrast-200: var(--color-warning-contrast-dark);
  --color-warning-contrast-300: var(--color-warning-contrast-dark);
  --color-warning-contrast-400: var(--color-warning-contrast-dark);
  --color-warning-contrast-500: var(--color-warning-contrast-dark);
  --color-warning-contrast-600: var(--color-warning-contrast-dark);
  --color-warning-contrast-700: var(--color-warning-contrast-dark);
  --color-warning-contrast-800: var(--color-warning-contrast-dark);
  --color-warning-contrast-900: var(--color-warning-contrast-dark);
  --color-warning-contrast-950: var(--color-warning-contrast-light);
  --color-error-50: oklch(87.5% 0.07 37.56deg);
  --color-error-100: oklch(82.01% 0.1 30.38deg);
  --color-error-200: oklch(76.61% 0.13 26.3deg);
  --color-error-300: oklch(71.77% 0.16 24.98deg);
  --color-error-400: oklch(67.34% 0.19 24.58deg);
  --color-error-500: oklch(63.75% 0.21 25.44deg);
  --color-error-600: oklch(57.64% 0.19 25.81deg);
  --color-error-700: oklch(51.31% 0.18 26.38deg);
  --color-error-800: oklch(44.95% 0.16 26.98deg);
  --color-error-900: oklch(38.39% 0.15 27.86deg);
  --color-error-950: oklch(31.6% 0.13 29.23deg);
  --color-error-contrast-dark: oklch(0% 0 none);
  --color-error-contrast-light: var(--color-surface-500);
  --color-error-contrast-50: var(--color-error-contrast-dark);
  --color-error-contrast-100: var(--color-error-contrast-dark);
  --color-error-contrast-200: var(--color-error-contrast-dark);
  --color-error-contrast-300: var(--color-error-contrast-dark);
  --color-error-contrast-400: var(--color-error-contrast-dark);
  --color-error-contrast-500: var(--color-error-contrast-dark);
  --color-error-contrast-600: var(--color-error-contrast-light);
  --color-error-contrast-700: var(--color-error-contrast-light);
  --color-error-contrast-800: var(--color-error-contrast-light);
  --color-error-contrast-900: var(--color-error-contrast-light);
  --color-error-contrast-950: var(--color-error-contrast-light);
  --color-surface-50: oklch(100% 0 none);
  --color-surface-100: oklch(99.7% 0 none);
  --color-surface-200: oklch(99.45% 0 67.9deg);
  --color-surface-300: oklch(99.16% 0 67.9deg);
  --color-surface-400: oklch(98.91% 0 67.83deg);
  --color-surface-500: oklch(98.61% 0 67.83deg);
  --color-surface-600: oklch(91.07% 0 67.82deg);
  --color-surface-700: oklch(83.69% 0 67.81deg);
  --color-surface-800: oklch(75.82% 0 67.8deg);
  --color-surface-900: oklch(68.08% 0 67.79deg);
  --color-surface-950: oklch(59.76% 0 67.77deg);
  --color-surface-contrast-dark: var(--color-surface-950);
  --color-surface-contrast-light: var(--color-surface-50);
  --color-surface-contrast-50: var(--color-surface-contrast-dark);
  --color-surface-contrast-100: var(--color-surface-contrast-dark);
  --color-surface-contrast-200: var(--color-surface-contrast-dark);
  --color-surface-contrast-300: var(--color-surface-contrast-dark);
  --color-surface-contrast-400: var(--color-surface-contrast-dark);
  --color-surface-contrast-500: var(--color-surface-contrast-dark);
  --color-surface-contrast-600: var(--color-surface-contrast-dark);
  --color-surface-contrast-700: var(--color-surface-contrast-dark);
  --color-surface-contrast-800: var(--color-surface-contrast-light);
  --color-surface-contrast-900: var(--color-surface-contrast-light);
  --color-surface-contrast-950: var(--color-surface-contrast-light);
}
